@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth;
    margin:0;
    font-family:Arial;
    border: border-box;
    scrollbar-color: darkorange black;
  }
  .navbar{
     display: flex;
     width: 100%;
     align-items: center;
     justify-content:space-between;
     position: fixed;
     top: 0;
     background-color:transparent;
     backdrop-filter:blur(10px);
}
.nav-text{
display:flex;
}
.nav-text a{
    color:black;
    margin: 1.5rem;
    font-size: 1.75rem;
}
.nav-text a:hover{
  color: darkorange;
}
.nav-logo{
    background-color: transparent;
    filter: drop-shadow(blur);
    display: flex;
}
.nav-logo h1{
  font-size: 4.5rem;
}
.profile-name{
    color:black;
    justify-content: center;
    margin: 20vb;
    display: flex;
}
.profile-name h1{
  font-size: 5rem;
}
.profile-name p{
    font-size: 5rem;
}
  .profession{
      color: rgb(245, 116, 2);
      font-size: 4rem;
      display: flex;
      justify-content: center;
  }
  .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.social-content{
  box-shadow: 0px 0px 5px gray;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-content a{
  margin: 0.75rem;
}
.social-content:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}
.social-links p{
    font-size: 2rem;
    font-weight: 900;
    margin: 1vb;
}
.title{
  margin-top: 5rem;
}
.title h2{
  text-align: center;
  font-size: 5rem;
}
.intro{
      font-size: 2rem;
      text-align: justify;
  }  
  .intro-text{
      width:100%;
      font-size: 2rem;
      padding: 100px;
  }
  .intro-text p{
    font-size: 3rem;
  }
  .intro-text a{
    text-decoration: none;
  }
  .intro-text a:hover{
    text-decoration:underline;
    color: orange;
  }
  .whoami{
    font-size: 2rem;
    padding: 2.5%;
    width: auto;
    display: flex;
    width: auto;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px gray;
  }
  .whoami-box{
    width: 85%;
    margin-right: 5vb;
  }
  .expertise{
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  .box{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 50px;
    box-shadow: 0px 0px 10px gray;
  } 
.box-logo{
  position: absolute;
  height: auto;
  width: auto;
}
.box-logo p{
    font-size: 1.5rem; 
    font-weight: 600;
    height: auto;
    width: auto;
}
.progress-bar{
  display: flex;
  justify-content: center;
}
.skills h2{
    text-align: center;
    font-size: 5rem;
}
.projects{
  margin-top: 5rem;
}
.proj-content{
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}
.proj-title h2{
  display: flex;
  font-size: 5rem;
  justify-content: center;
}
.prj-text{
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0.75rem;
  border-radius: 20px;
  height: 330px;
  box-shadow: 0px 0px 5px gray;
}
.prj-logo{
position: absolute;
}
.prj-logo p{
  font-size: 1.5rem; 
  font-weight: 600;
}
.prj-logo button{
  font-size: 1.25rem;
  display: flex;
  border-radius:10px;
  width: 200px;
  height: 80px;
  justify-content:space-evenly;
  align-items:center;
  color: white;
  margin-top: 50px;
}
.prj-logo button:hover{
  border-radius: 40px;
  transition: all ease-in-out 0.1s;
}
footer{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}