@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width:900px)
{
  .navbar{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
  }
  .nav-text{
    font-size: xx-small;
  }
  .nav-text a{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(161, 158, 158, 0.095);
    font-size: xx-large;
    padding: 0px 0px 0px;
    margin: 1.75px;

  }
  .intro-section h1{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .nav-text a:hover{
    color: none;
  }
  .intro-text{
    font-size:1vb;
  }
  .nav-text i{
    display: none;
  }
  .social-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .profile-name{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .social-content a{
    font-size: 1vh;
  }
  .social-links p{
    display: flex;
    font-size: xx-small;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
.social-content i{
  font-size: 8vb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.services .box{
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proj-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.prj-logo p{
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .links{
  display: none;
}


}

*{
  margin: 0;
    scroll-behavior: smooth;
    border: border-box;
    scrollbar-color: rgb(94, 93, 93) transparent;
    scrollbar-width:thin;
  }
  .navbar{
    margin: 1vb;
    margin-top: 2.5vh;
  }
  .nav-text{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-family: "Inter";
  }
.nav-text a {
    color:black;
    font-size:3.25vb;
    font-family: Montserrat;
}
.nav-text a:hover{
  color: rgb(255, 170, 0);
}
.intro-section{
  color:black;
}
.intro-section img{
  height: 20vb;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 0px 8px gray);
}
.profile-name{
    
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    display: flex;
    font-family: "Fredoka",sans-serif;
}
.profile-name h1{
  font-size:10vb;
} 
  .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-overflow:0;
}
.social-content{
  display: flex;
  font-size: auto;
}
.social-content a{
  margin: 1vh;
  font-size: auto;
}
.social-links p{
    font-size: 5vb;
    margin: 2vb;

}  
.title{
  margin-top: 15vb;
}
.title h2{
  text-align: center;
  font-size:8vb;
  font-family: "Montserrat";
}
  .intro-text{
      font-size: 2vb;
      padding: 40px;
      text-align: center;
      font-family: Montserrat;
     
  }
  .intro-text p{
    font-size: 4vb;
    font-family: "Inter";
  }
  .intro-text a{
    text-decoration: none;
  }
  .intro-text a:hover{
    text-decoration:underline;
    color: orange;
  }
  .whoami{
    font-size: 3.5vb;
    display: flex;
    font-weight: 400;
    font-family: Inter;
    border-radius: 20px;
    box-shadow: 0px 0px 1px black;
  }
  .whoami-box{
    padding: 20px;
    margin-right: 5vb;
    text-align: justify;
    font-size: auto;
  }
  .expertise{
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  .services p{
    font-size: 5vb;
  }
  .box{
    width:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.073);
    border: 2px solid gray;
  } 
.box{
display: flex;
margin: 1.25vb;
}
.box-logo p{
    font-size: 3.5vb;
    justify-content: space-evenly; 
}
.services{
  margin-top: 10vb;
}
.services h2{
  font-size: 8vb;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: 10vb;
}
.projects{
  margin-top: 5rem;
}
.proj-content{
  display: flex;
  flex-wrap:wrap;
  text-wrap:balance;
  align-items: center;
  justify-content: center;
  font-size: 5vb;
  margin: 2vb;
}
.proj-title h2{
  font-size: 8vb;
  font-family: Montserrat;
  text-align: center;
}
.prj-logo{
  border: 0px solid black;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 0px 3px gray ;
  align-items: center;
  font-family: "Fredoka",sans-serif;
  margin: 2vb;
  font-size: 3.5vb;
  width: auto;
}

.prj-logo button{
  font-size: 3.25vb;
  margin-left: 1vh;
  display: flex;
  border-radius:10px;
  width: 160px;
  height: 80px;
  justify-content:space-evenly;
  align-items:center;
  color: white;

}
.prj-logo button:hover{
  border-radius: 30px;
  transition: all ease-in-out 0.1s;
}
footer{
  display: flex;
  justify-content:space-evenly;
  height: 30px;
  align-items: center;
  font-size: 0.5vb;
}
footer a{
  margin:0.5vb;
}